.weather-app {
    background-image: url("https://celes.club/uploads/posts/2022-11/1667399948_3-celes-club-p-narisovannii-gorod-fon-pinterest-3.jpg");

    width: 300px;
    padding: 20px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

.weather-form {
    display: flex;
    flex-direction: column;
}

.weather-info {
    color: black;
    font-weight: bold;
    font-size: 23px;
}

input {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

button {
    height: 30px;
    border-radius: 10px;
    color: white;
    background: darkgrey;
}

button:hover {
    transform: scale(1.03);
    transition: .15s ease-in-out;
}
